<h2>About us</h2>
<p>On this section you will fnd out about us</p>

<%= "Message from controller :
#{@controller_message}" %>
</br></br>
<%= link_to ("Go to index"), 
	{:controller => 'welcome', 
		:action => 'index'}, class: "btn btn-primary btn-lg" %>

<p>We are a group of music producers and internet marketers and when it comes to research about what's really going on in the music industry we have done it all. </br></br>

my name is Nein leone and i'm from woodland hills california. when i was a kid i was fascinated with music production and rap music and banger beats and such and always strived to figure out how i could use my sounds and what i would do if i was the producer of the songs i was listening to and so on. coming from that background i grew up producing music and slowy started sounding very professional but i wasn't making a dime, i was doing pretty good in school but i wasn't really passionate about what they tought you there and i got to a point where i needed to find a way to make money off of my music. 
</p>