<h2>Blog</h2>
<p>On this section we will bring daily news and articles</p>

<%= "Message from controller :
#{@controller_message}" %>
</br></br>
<%= link_to ("Go to index"), 
	{:controller => 'welcome', 
		:action => 'index'}, class: "btn btn-primary btn-lg" %>