<h1>Videos</h1>
<p>Checkout our new video and find out what makes us unique.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/LwFzNEVzt6U" frameborder="0" allowfullscreen></iframe>

</br></br>

<%= link_to ("Product"), 
{:controller => 'welcome', :action => 'product'}, class: "btn btn-primary btn-lg" %>
</br></br></br>
<%= link_to ("About Us"), 
{:controller => 'welcome', :action => 'about_us'}, class: "btn btn-primary btn-lg" %>


</br></br>
