<h2>Welcome</h2>
<p>On this section you will learn how to apply 10 marketing tricks that will increase your beat sales</p>

<%= "Message from controller :
#{@controller_message}" %>
</br></br>
<%= link_to ("Go to index"), 
	{:controller => 'welcome', 
		:action => 'index'}, class: "btn btn-primary btn-lg" %>