<h2>Subscribe</h2>
<p>Enter your E-mail and receive daily tips on how to Market</p>

<%= "Message from controller :
#{@controller_message}" %>
</br></br>
<%= link_to ("Go to index"), 
	{:controller => 'welcome', 
		:action => 'index'}, class: "btn btn-primary btn-lg" %>